doctype html
html
    head
        title Bedrijven
    body
        button(onclick="window.location.href='/'") spek
        h1 Alle bedrijven
        ul
            each bedrijf in bedrijven
                span
                    li
                        h2 #{bedrijf.naam}
                        p
                            b Industrie:
                            |    #{bedrijf.industrie}
                            br
                            b Beschrijving:
                            |    #{bedrijf.beschrijving}
                            br
                            b Aantal werknemers:
                            |   #{bedrijf.tot_aantal_werknemers}
                            br
                            b Gemiddelde score:
                            |   #{bedrijf.gem_score}
                            br
                            a(href='/bedrijven/overview/' + bedrijf.naam) Bezoek bedrijf pagina
                            br
                            form(method='post' action='/bedrijven/delete/'+bedrijf.naam)
                                button(type='submit') remove bedrijf

        a(href='/bedrijven/add') Voeg nieuw bedrijf toe