doctype html
html
    head
        title Bedrijven
    body
        button(onclick="history.back()") spek
        h1 Alle bedrijven
        ul
            each bedrijf in bedrijven
                li
                    span
                        h2 #{bedrijf.naam}
                        p
                            b Industrie:
                            |    #{bedrijf.industrie}
                            br
                            b Beschrijving:
                            |    #{bedrijf.beschrijving}
                            br
                            b Aantal werknemers:
                            |   #{bedrijf.tot_aantal_werknemers}
                            br
                            b Gemiddelde score:
                            |   #{bedrijf.gem_score}
                            br
                            a(href='/bedrijven/' + bedrijf.naam) Bezoek bedrijf pagina
        a(href='/bedrijven/add') Voeg nieuw bedrijf toe