doctype html
html
    head
        title Bedrijven
    body
        button(onclick="window.location.href='/'") spek
        h1 Alle bedrijven
        ul
            each bedrijf in bedrijven
                span
                    li
                        h2 #{bedrijf.naam}
                        p
                            b Industrie:
                            |    #{bedrijf.industrie}
                            br
                            b Beschrijving:
                            |    #{bedrijf.beschrijving}
                            br
                            b Aantal werknemers:
                            |   #{bedrijf.tot_aantal_werknemers}
                            br
                            b Gemiddelde score:
                            |   #{bedrijf.gem_score}
                            br
                            a(href='/bedrijven/overview/#{bedrijf.naam}') Bezoek bedrijf pagina
                            br
                            button(id=bedrijf.naam onclick=`deleteCompany(${bedrijf.naam})`) Remove Bedrijf

        a(href='/bedrijven/add') Voeg nieuw bedrijf toe
        script.
            function deleteCompany(companyName) {
                const url = `/bedrijven/delete/${companyName}`;
                fetch(url, {method: 'DELETE'})
                    .then(response => {
                        if (response.ok) {
                            console.log('succesfullly deleted')
                            // Handle successful deletion
                        } else {
                            console.error("something went wrong")
                            // Handle error response
                        }
                    })
                    .catch(error => {
                        // Handle network or other error
                    });
            }