doctype html
html
    head
        title Edit
    body
        button(onclick="window.location.href='/'") back
        h1 Pas de gewenste velden aan en sla de veranderingen op.
        span
            form(id='edit_form', action='/werkzoekenden/edit/'+ email)
                label(for='naam') Voor en achternaam:
                    input(type='text', name='naam', id='naam', required=true, value=naam)
                    br
                    label(for='email') E-mail address:
                    input(type='email', name='naam', id='email', required=true, value=email)
                    br
                    label(for='competenties') Competenties:
                    input(id="competenties", name='competenties', placeholder='gescheiden met komma. vb: Engels,Frans,Java script' , required=true, value= c_string)
                    br
                    label(for='cv') cv:
                    input(id="cv", name='cv', required=true, placeholder='geef een link naar bv uw linked in profiel', value=cv)
                    br
                    button(type='button' onclick=`editWerzoekende('${email}')`) Sla op
        script.
            function editWerzoekende(werkmail) {

                const content = {naam:document.getElementById('naam').value.toString(),
                    email:document.getElementById('email').value.toString(),
                    competenties: document.getElementById('competenties').value.toString(),
                    cv: document.getElementById('cv').value.toString()
                }

                const url = `/werkzoekenden/edit/${werkmail}`;
                fetch(url, {method: 'PATCH', body:JSON.stringify(content)})
                    .then(response => {
                        if (response.ok) {
                            console.log('succesfullly updated')
                            // Handle successful deletion
                            window.location.href = '/werkzoekenden'
                        } else {
                            console.error("something went wrong")
                            window.alert('something went wrong')
                            window.location.href = '/werkzoekenden'
                            // Handle error response
                        }
                    })
                    .catch(err => {
                        // Handle network or other error
                    });
            }