doctype html
html
    head
        title Recruiters
    body
        button(onclick="window.location.href='/'") spek
        h1 Alle recruiters
        ul
            each recruiter in recruiters
                span
                    li
                        h2 #{recruiter.naam}
                        p
                            b email:
                            |    #{recruiter.email}
                            br
                            b Bedrijf:
                            |    #{recruiter.bedrijf}
                            br
                            a(href='/bedrijven/overview/#{recruiter.naam}') Bezoek recruiter pagina
                            br
                            button(id=recruiter.naam onclick=`deleteCompany('${bedrijf.naam}')`) Remove Bedrijf

        a(href='/bedrijven/add') Voeg nieuw bedrijf toe
        script.
            function deleteCompany(companyName) {
                const url = `/bedrijven/delete/${companyName}`;
                fetch(url, {method: 'DELETE'})
                    .then(response => {
                        if (response.ok) {
                            console.log('succesfullly deleted')
                            // Handle successful deletion
                            window.location.href = '/bedrijven'
                        } else {
                            console.error("something went wrong")
                            window.alert('something went wrong')
                            window.location.href = '/bedrijven'
                            // Handle error response
                        }
                    })
                    .catch(err => {
                        // Handle network or other error
                    });
            }