doctype html
html
    head
        title vacatures
        link(href='/stylesheets/style.css', rel='stylesheet')
    body
        span
            button(onclick="window.location.href='/'") spek
            h1 All Vacatures
        ul
            each vacature in vacatures
                li
                    a(href=`/vacatures?v=${vacature._id}`)
                        span #{vacature.bedrijf} - #{vacature.recruiter}
                        #{vacature.beschrijving}
                        #{vacature.eisen}
                        span salaris= #{vacature.salaris.start} - #{vacature.salaris.end}
                        span gepubliceerd op:#{vacature.publicatiedatum.toLocaleDateString()}, reageer voor: #{vacature.deadline.toLocaleDateString()}
        div(style='text-align:center;')
            a(href='/vacatures/new') Create New Vacature

